In [1]:
import strax
import epix

from micro_physics.input import input_plugin
from micro_physics.find_cluster import find_cluster
from micro_physics.merge_cluster import cluster_merging
from micro_physics.electric_field import ElectricField
from micro_physics.yields import nest_yields, bbf_yields
from micro_physics.output import output_plugin

RuntimeError: module compiled against API version 0x10 but this version of numpy is 0xf . Check the section C-API incompatibility at the Troubleshooting ImportError section at https://numpy.org/devdocs/user/troubleshooting-importerror.html#c-api-incompatibility for indications on how to solve this problem .

Could not import editors, GUI not available.
*** Detector definition message ***
You are currently using the default XENON10 template detector.

Using nestpy version 1.5.4
Using nestpy version 1.5.4

In [2]:
st = strax.Context(register = [input_plugin,
                               find_cluster,
                               cluster_merging,
                               ElectricField,
                               nest_yields,
                               #bbf_yields,
                               output_plugin],
                   storage = [strax.DataDirectory('/scratch/midway2/hschulze/epix_data/')]
                  )

st.set_config({"path": "/project2/lgrandi/xenonnt/simulations/testing",
               "file_name": "pmt_neutrons_100.root",
               "ChunkSize": 50
              })


st.make("00000","geant4_interactions")
st.make("00000","cluster_index")
st.make("00000","clustered_interactions")
st.make("00000",[ "electric_field_values"])
st.make("00000",[ "quanta"])
st.make("00000",[ "wfsim_instructions"])

In [3]:
geant4_interactions = st.get_df("00000",["geant4_interactions", "cluster_index"])
geant4_interactions

Loading plugins: |          | 0.00 % [00:00<?]

,cluster_ids,time,endtime,x,y,z,t,ed,type,trackid,parenttype,parentid,creaproc,edproc,evtid,x_pri,y_pri,z_pri,structure
0,0,1000000000,1010000000,-20.890713,-51.367107,-1.464800,21.859256,5.101432,Xe131,2,neutron,1,hadElastic,ionIoni,0,-49.813919,0.516251,9.241811,1
1,0,2000000000,2010000000,-36.332085,-21.576939,-9.249798,9.026129,0.001833,Xe134,8,gamma,5,conv,ionIoni,1,-44.154747,2.803934,7.933488,434
2,0,2000000000,2010000000,-36.332138,-21.577005,-9.249702,9.024456,3.547721,e+,7,gamma,5,conv,eBrem,1,-44.154747,2.803934,7.933488,540
3,1,2000000000,2010000000,-36.347862,-21.561190,-9.203227,9.026206,134.383118,e+,7,gamma,5,conv,msc,1,-44.154747,2.803934,7.933488,946
4,2,2000000000,2010000000,-36.359352,-21.538471,-9.162889,9.027829,184.031738,e+,7,gamma,5,conv,msc,1,-44.154747,2.803934,7.933488,1041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31834,81,99000000000,99010000000,-36.952393,-19.832439,-8.483415,55.671306,0.197993,Xe132,166,neutron,97,hadElastic,ionIoni,98,4.679767,42.769154,13.131228,-1
31835,82,99000000000,99010000000,-37.253036,-24.977985,-5.073169,44.752561,19.220984,Xe132,96,neutron,4,hadElastic,ionIoni,98,4.679767,42.769154,13.131228,-1
31836,83,99000000000,99010000000,-31.163395,-24.085438,-5.376482,41.741314,24.029764,Xe130,95,neutron,4,hadElastic,ionIoni,98,4.679767,42.769154,13.131228,-1
31837,84,99000000000,99010000000,-30.560013,-20.348606,-5.291378,39.901146,5.999241,Xe131,94,neutron,4,hadElastic,ionIoni,98,4.679767,42.769154,13.131228,-1
31838,0,100000000000,100010000000,8.634843,-72.143379,-2.041029,78170.392111,0.078439,Xe132,16,neutron,1,nCapture,ionIoni,99,6.629845,-17.462236,12.660082,-1

In [4]:
clustered_interactions = st.get_df("00000",["clustered_interactions", "electric_field_values", "quanta"])
clustered_interactions

Loading plugins: |          | 0.00 % [00:00<?]

,x,y,z,t,ed,nestid,A,Z,evtid,x_pri,...,xe_density,vol_id,create_S2,structure,time,endtime,e_field,photons,electrons,excitons
0,-20.890713,-51.367107,-1.464800,21.859256,5.101432,0,0,0,0,-49.813919,...,2.862,1,True,1,1000000000,1010000000,200,34.0,25.0,29.0
1,-25.548460,-4.034955,-21.613764,8.223299,72.487770,0,0,0,1,-44.154747,...,2.862,1,True,219,2000000000,2010000000,200,1001.0,254.0,523.0
2,-25.334255,-4.493484,-21.541744,8.586755,2.472048,0,0,0,1,-44.154747,...,2.862,1,True,45,2000000000,2010000000,200,8.0,25.0,8.0
3,-36.332138,-21.577005,-9.249702,9.024457,3.549554,12,32767,32767,1,-44.154747,...,2.862,1,True,107,2000000000,2010000000,200,113.0,155.0,6.0
4,-36.344021,-21.590857,-9.254995,9.025121,66.297173,8,0,0,1,-44.154747,...,2.862,1,True,440,2000000000,2010000000,200,3423.0,1566.0,776.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7163,64.799187,10.547123,-71.513840,1087.786544,24.476879,8,0,0,98,4.679767,...,2.862,1,True,-1,99000000000,99010000000,200,1294.0,531.0,261.0
7164,64.798157,10.546198,-71.514107,1087.786624,29.976286,8,0,0,98,4.679767,...,2.862,1,True,-1,99000000000,99010000000,200,1637.0,658.0,323.0
7165,64.797836,10.546106,-71.514954,1087.786681,18.481970,8,0,0,98,4.679767,...,2.862,1,True,-1,99000000000,99010000000,200,947.0,445.0,199.0
7166,64.797539,10.545859,-71.514503,1087.786753,74.351268,8,0,0,98,4.679767,...,2.862,1,True,-1,99000000000,99010000000,200,3443.0,2041.0,823.0
7167,64.787445,10.525549,-71.518227,1087.786954,29.781301,7,0,0,98,4.679767,...,2.862,1,True,-1,99000000000,99010000000,200,1610.0,580.0,327.0

In [5]:
wfsim_instructions = st.get_df("00000",[ "wfsim_instructions"])
wfsim_instructions

Loading ['wfsim_instructions']: |          | 0.00 % [00:00<?]

,event_number,type,time,endtime,x,y,z,amp,recoil,e_dep,g4id,vol_id,local_field,n_excitons,x_pri,y_pri,z_pri
0,0,1,1000000021,1010000021,-20.890713,-51.367107,-1.464800,34,0,5.101432,0,1,200.0,29,-49.813919,0.516251,9.241811
1,0,2,1000000021,1010000021,-20.890713,-51.367107,-1.464800,25,0,5.101432,0,1,200.0,0,-49.813919,0.516251,9.241811
2,1,1,2000000008,2010000008,-25.548460,-4.034955,-21.613764,1001,0,72.487770,1,1,200.0,523,-44.154747,2.803934,7.933488
3,1,2,2000000008,2010000008,-25.548460,-4.034955,-21.613764,254,0,72.487770,1,1,200.0,0,-44.154747,2.803934,7.933488
4,1,1,2000000008,2010000008,-25.334255,-4.493484,-21.541744,8,0,2.472048,1,1,200.0,8,-44.154747,2.803934,7.933488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12773,66,2,99000001087,99010001087,64.797836,10.546106,-71.514954,445,8,18.481970,98,1,200.0,0,4.679767,42.769154,13.131228
12774,66,1,99000001087,99010001087,64.797539,10.545859,-71.514503,3443,8,74.351265,98,1,200.0,823,4.679767,42.769154,13.131228
12775,66,2,99000001087,99010001087,64.797539,10.545859,-71.514503,2041,8,74.351265,98,1,200.0,0,4.679767,42.769154,13.131228
12776,66,1,99000001087,99010001087,64.787445,10.525549,-71.518227,1610,7,29.781301,98,1,200.0,327,4.679767,42.769154,13.131228
12777,66,2,99000001087,99010001087,64.787445,10.525549,-71.518227,580,7,29.781301,98,1,200.0,0,4.679767,42.769154,13.131228

## S1 and S2

In [15]:
import cutax

In [16]:
from detector_physics.S1_scintillation_and_photon_propagation import S1_scintillation_and_propagation
from detector_physics.electron_drift import electron_drift
from detector_physics.electron_extraction import electron_extraction
from detector_physics.electron_timing import electron_timing
from detector_physics.secondary_scintillation import scintillation
from detector_physics.S2_photon_propagation import S2_photon_distributions_and_timing

In [17]:
st = cutax.contexts.xenonnt_sim_SR0v3_cmt_v9(output_folder = "/scratch/midway2/hschulze/RefactorOutput")
st.register(input_plugin)
st.register(find_cluster)
st.register(cluster_merging)
st.register(ElectricField)
st.register(nest_yields)
st.register(output_plugin)

st.register(S1_scintillation_and_propagation)

st.register(electron_drift)
st.register(electron_extraction)
st.register(electron_timing)
st.register(scintillation)
st.register(S2_photon_distributions_and_timing)


st.set_config({"path": "/project2/lgrandi/xenonnt/simulations/testing",
               "file_name": "pmt_neutrons_100.root",
               "ChunkSize": 50
              })

/dali/lgrandi/xenonnt/software/cutax/v1.14.3/cutax/contexts.py:123: UserWarning: WARNING! You are using SR0_V3 simulation context! Consider updating to a newer/pinned version (SR0_V4)!
  warnings.warn(f'WARNING! You are using {faxconf_version.upper()} simulation context!'
/dali/lgrandi/xenonnt/software/cutax/v1.14.3/cutax/contexts.py:148: UserWarning: WARNING! [ FAX_CONFIG_NT_SR0_V3.JSON ] does not contain "field_distortion_correction_map" key!
  warnings.warn(f'WARNING! [ {fax_conf.upper()} ] does not contain "{fax_config_fdc_key}" key!')

In [18]:
st.make("00000","geant4_interactions")
st.make("00000","cluster_index")
st.make("00000","clustered_interactions")
st.make("00000",[ "electric_field_values"])
st.make("00000",[ "quanta"])
st.make("00000",[ "wfsim_instructions"])

In [19]:
#S1
st.make("00000",[ "S1_channel_and_timings"])

#S2
st.make("00000",[ "drifted_electrons"])
st.make("00000",[ "extracted_electrons"])
st.make("00000",[ "electron_time"])
st.make("00000",[ "photons"])
st.make("00000",[ "sum_photons"])
st.make("00000",[ "photon_channels_and_timeing"])

In [20]:
S1_channel_and_timings = st.get_df("00000",[ "S1_channel_and_timings"])
S1_channel_and_timings

Loading ['S1_channel_and_timings']: |          | 0.00 % [00:00<?]

         photon_channel         time      endtime
0                     0  65000092625  65000092625
1                     0   5000000354   5000000354
2                     0  52000000118  52000000118
3                     0  82000000121  82000000121
4                     0  16000000090  16000000090
...                 ...          ...          ...
1487502             493  12000000315  12000000315
1487503             493  88000001799  88000001799
1487504             493  12000000305  12000000305
1487505             493  77000001691  77000001691
1487506             493  93000000104  93000000104

[1487507 rows x 3 columns]

In [21]:
electron_cloud_data = st.get_df("00000",[ "drifted_electrons", "extracted_electrons", "sum_photons"])
electron_cloud_data

Loading plugins: |          | 0.00 % [00:00<?]

,n_electron_interface,drift_time_mean,drift_time_spread,x,y,z_obs,time,endtime,n_electron_extracted,sum_photons
0,33,21755,518,-20.874880,-51.328184,-1.464800,1000000021,1010000021,16,352
1,226,328303,2560,-25.060949,-3.957958,-21.613764,2000000008,2010000008,123,3175
2,15,327275,2557,-24.853774,-4.408262,-21.541744,2000000008,2010000008,10,231
3,107,134271,1533,-36.068705,-21.420557,-9.249702,2000000009,2010000009,58,1302
4,1581,134334,1533,-36.080668,-21.434412,-9.254995,2000000009,2010000009,806,18337
...,...,...,...,...,...,...,...,...,...,...
5857,562,1186007,5367,56.199371,9.147364,-71.513840,99000001087,99010001087,290,6286
5858,582,1185991,5367,56.199039,9.146651,-71.514107,99000001087,99010001087,305,6679
5859,437,1186015,5367,56.199089,9.146625,-71.514954,99000001087,99010001087,222,4796
5860,2084,1185990,5367,56.198875,9.146419,-71.514503,99000001087,99010001087,1102,24148
5861,460,1185807,5365,56.196286,9.129806,-71.518227,99000001087,99010001087,265,5785

In [22]:
indiv_electron_data = st.get_df("00000",[ "electron_time", "photons"])
indiv_electron_data

Loading plugins: |          | 0.00 % [00:00<?]

                 x          y         time      endtime  n_photons
0       -20.874880 -51.328184   1000022992   1000022992         17
1       -20.874880 -51.328184   1000021617   1000021617         20
2       -20.874880 -51.328184   1000021203   1000021203         27
3       -20.874880 -51.328184   1000021916   1000021916         24
4       -20.874880 -51.328184   1000020841   1000020841         27
...            ...        ...          ...          ...        ...
2966593  56.196286   9.129806  99001188044  99001188044         22
2966594  56.196286   9.129806  99001199872  99001199872         22
2966595  56.196286   9.129806  99001200322  99001200322         18
2966596  56.196286   9.129806  99001185714  99001185714         23
2966597  56.196286   9.129806  99001185416  99001185416         24

[2966598 rows x 5 columns]

In [23]:
s2_photons = st.get_df("00000",[ "photon_channels_and_timeing"])
s2_photons

Loading ['photon_channels_and_timeing']: |          | 0.00 % [00:00<?]

          channel         time      endtime
0               0   1000022823   1000022823
1              18   1000023349   1000023349
2             450   1000023252   1000023252
3               7   1000023287   1000023287
4               8   1000023216   1000023216
...           ...          ...          ...
77286701       73  99001185548  99001185548
77286702      419  99001185694  99001185694
77286703      490  99001185100  99001185100
77286704      289  99001185202  99001185202
77286705      219  99001185181  99001185181

[77286706 rows x 3 columns]